{{> header}}
<!-- Details Dashboard  -->
<section id="viewMydestinations">
    <h3>Your destinations</h3>
    {{#each userDestinations}}
    {{> destination}}
    {{/each}}
    
    </div>
</section>
{{> footer}}